.nav-bar
{
   
    background: #cdace8;
    width: 65px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    min-height: 500px;
}

.logo{
    display: block;
    padding: 0px 0;

    img{
        display: block;
        width: 60px;
        height: auto;
        align-content: center;
    }
}

nav{
    display: block;
    text-align:center;
    position: absolute;
    height:210px;
    top: 50%; 
    margin-top: -120px;
    width: 7px;

}

a{
    font-size: 22px;
    color: white;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;


    i{
        transition: all 0.01s ease-out;
    }

    &:hover{
        color:#ffffff;
        align-items: center;

        // svg{
        //     opacity: 0%;
        // }
        &::after{
            opacity: 100%;
            position: absolute;
        }
    }
    // &:after{
    //     font-size: 9px;
    //     letter-spacing: 2px;
    //     position: absolute;
    //     width: 100%;
    //     bottom:0;
    //     opacity: 0;
    //     display: block;
    //     transition: all 0.5s ease-out; //ease out
    //     text-align: center;
        
    // }
    
    a.home-link{
        
    &:after{
       
        
        font-size: 9px;
        content: 'HOME';
        position: absolute;

    }
}


    
}

a.home-link{

    &:after{
        font-size: 15px;
        content: 'HOME';
        font-family: 'Helvetica Neue';
        color: white;
        font-weight: 20px;
        letter-spacing: 2px;
        
        margin-left: 70px;
        overflow: hidden;
        position: absolute;

    }
}


a.about-link{
    &:after{
        font-size: 15px;
        content:'ABOUT';
        font-family: 'Helvetica Neue';
        color: white;
        font-weight: 20px;
        letter-spacing: 2px;
        
        margin-left: 70px;
        overflow: hidden;
        position: absolute;

    }
}

a.projects-link{
    &:after{
        font-size: 15px;
        content: 'PROJECTS';
        font-family: 'Helvetica Neue';
        color: white;
        font-weight: 20px;
        letter-spacing: 2px;
        
        margin-left: 70px;
        overflow: hidden;
        position: absolute;

    }
}

a.contact-link{
    &:after{
        font-size: 15px;
        content: 'CONTACTS';
        font-family: 'Helvetica Neue';
        color: white;
        font-weight: 20px;
        letter-spacing: 2px;
        
        margin-left: 70px;
        overflow: hidden;
        position: absolute;

    }
}

a.active
{
    svg
    {
        color: #ffd700;
    }
}


ul{

    li{
        a{
            margin-left: 0px;
            padding: 0px;
            padding-left: 0px;
            display: block;
            font-size: 20px;
            line-height:30px;
            color: white;
        
        }
    }
}


.content-icons{
    margin-top: 200px;
    margin-left: 25px;


        .homeNameOpen
        {
            margin-top: 10;
            position: absolute;
            color:white;
            font-family: 'Helvetica Neue';
        }

}


.logoBox{
    position:absolute;
}

ul{
    position: absolute;
    bottom: 2px;
    width: 100%;
    display:block ;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    li{
        a{
            padding: 10px 0;
            display: block;

        }
    }
}
