
.about-page
{


    color: #ecd1db;
    margin: absolute;
    position: absolute;
    font-size: 20px;

    top:15%;
    
    width: 45%;

   h1{
    font-size: 60 px;
    font-family: 'Coolvetica';
    color:#ecc4d3;
    font-weight:400;
    position: relative;
   }
   
   .projectsButton{
    font-size: 20px;
    background-color: #8f5c6f;
    

   }

   
}

    
